<launch>
				<!--  ************** Odometry ***************  -->
	<arg name="gui" default="True" />
	<param name="/use_sim_time" value="false"/>
	<param name="use_gui" value="$(arg gui)"/>
	<param name="robot_description" command="cat $(find nox_description)/urdf/nox.urdf" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	
	<node name="serial_node" pkg="rosserial_python" type="serial_node.py">
		<param name="port" value="/dev/ttyACM0"/>
	</node>
		
	<node name="nox_controller" pkg="nox" type="nox_controller">
		<param name="publish_tf" value="true" />
    		<param name="publish_rate" value="10.0" />
    		<param name="linear_scale_positive" value="1.025" />
    		<param name="linear_scale_negative" value="1.025" />
    		<param name="angular_scale_negative" value="1.078" />
		<param name="angular_sar_scale_positive" value="1.078" />
    		<param name="angulcale_accel" value="0.0" />
	</node>	
	
	<include file="$(find zed_wrapper)/launch/zed.launch"/>

	<node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
             <param name="scan_height" value="10"/>
             <param name="output_frame_id" value="/zed_left_camera_frame"/>
             <param name="range_min" value="0.1"/>
             <remap from="image" to="/zed/zed_node/depth/depth_registered"/>
             <!-- THIS ACTUALLY WORKS TO REMAP /zed/scan to /scan for nav stack -->
             <remap from="scan" to="/scan"/>
        </node>
		
	<!--
	<node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" > 
		<remap from="image" to="/zed_node/depth/depth_registered"/>
		<remap from="image" to="/zed_node/depth/depth_registered"/>
	</node>	
	-->
	<!--
	<include file="$(find zed_nodelet_example)/launch/zed_laserscan_nodelet.launch">
  		<arg name="camera_model" value="zed"/>
		<param name="tracking/publish_tf"        value="false" />
    	<param name="tracking/publish_map_tf"    value="false" />
	</include>
	<remap from="scan" to="scan"/>
	-->
</launch>
